<nav class="navbar navbar-light bg-nav">
  <span class="navbar-brand mb-0 h1 bg-nav">foodKids</span>
</nav>
<img src="https://www.264fresco.com/img/italian-speciality-restaurant.jpg" class="img-init" />
<div class="title-foodkids centered">foodKids</div>
<div class="div-view"></div>
<br>
<br>

<div class="container-fluid">
  <div class="card">
    <div class="card-heading">

    </div>
    <div class="card-body">

      <div class="row">
        <div class="col-12">
          <h3>Pendentes</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <table class="table-striped table-horvered table">
            <thead>
              <tr>
                <th>Pedido</th>
                <th>Endereço</th>
                <th>Distância</th>
                <th>Valor proposto</th>
                <th>Aceitar</th>
                <th>Negociar</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Arroz integral, Batata e carne moida - 400g</td>
                <td>Rua Fernandez Palero, 225. APT22A</td>
                <td>10km</td>
                <td>R$14,00</td>
                <td>
                  <input type="button" class="btn btn-primary" value="ACEITAR" />
                </td>
                <td>
                  <input type="button" class="btn btn-primary" value="NEGOCIAR" />
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <br>
      <br>
      <br>

      <div class="row">
        <div class="col-12">
          <h3>Aceitos</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <table class="table-striped table-horvered table">
            <thead>
              <tr>
                <th>Pedido</th>
                <th>Endereço</th>
                <th>Distância</th>
                <th>Valor aceito</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Arroz integral, Batata e carne moida - 400g</td>
                <td>Rua Fernandez Palero, 225. APT22A</td>
                <td>10km</td>
                <td>R$14,00</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>


</div>