<nav class="navbar navbar-light bg-nav">
  <span class="navbar-brand mb-0 h1 bg-nav">foodKids</span>
</nav>
<img src="https://www.264fresco.com/img/italian-speciality-restaurant.jpg" class="img-init" />
<div class="title-foodkids centered">foodKids</div>
<div class="div-view"></div>
<br>
<br>

<div class="container-fluid">
  <div class="card">
    <div class="card-heading">

    </div>
    <div class="card-body">

      <div class="row">
        <div class="col-12">
          <h3>Orders</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <table class="table-striped table-horvered table">
            <thead>
              <tr>
                <th>Order</th>
                <th>Address</th>
                <th>Distance</th>
                <th>Value</th>
                <th class="text-center">Accept</th>
                <th class="text-center">Deal</th>
                <th class="text-center">Decline</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let order of orders">
                <td>{{order.order}}</td>
                <td>{{order.address}}</td>
                <td>{{order.distance}}</td>
                <td>{{order.value}}</td>
                <td class="text-center">
                  <input type="button" class="btn btn-primary form-control" value="ACCEPT" (click)="accept();"/>
                </td>
                <td class="text-center">
                  <input type="button" class="btn btn-primary form-control" value="DEAL"(click)="deal();"/>
                </td>
                <td class="text-center">
                  <input type="button" class="btn btn-danger form-control" value="DECLINE"(click)="deal();"/>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <br>
      <br>
      <br>

      <div class="row">
        <div class="col-12">
          <h3>Accepts</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <table class="table-striped table-horvered table">
            <thead>
              <tr>
                <th>Order</th>
                <th>Address</th>
                <th>Distance</th>
                <th>Value</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let accept of accepts">
                <td>{{accept.order}}</td>
                <td>{{accept.address}}</td>
                <td>{{accept.distance}}</td>
                <td>{{accept.value}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>


</div>